.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #186cb8;
  padding: 0;
  margin-left: 5px;
  height: 35px;
  width: 35px;
}

.mat-mini-fab.mat-success:hover {
  background-color: #f0fff3;
  color: #186cb8;
}
.mat-mini-fab.mat-success .mat-icon {
  margin-top: -8px;
}

.popup h1 {
  text-align: center;
}

